* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 5vw; /* CHANGE TO: 5vw */
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5vw; /* CHANGE TO: 2.5vw */
}

p {
  font-size: 2vw; /* CHANGE TO: 2vw */
  line-height: 1.6;
}
.hero {
  height: 100vh; /* CHANGE TO: 100vh */
  background: #1a1a2e;
  color: white;
}

.card-style{
  border: 5px solid gainsboro;
  margin: 5px;
  color: white;
  height: 100vh; /* CHANGE TO: 100vh */
  background-color: #1a1a2e;
}

/* Compleate challenge down here */

.box-yellow {
background-color: orange;
display: inline-block;
width:24vw;
height: 100vh;
color:white;
padding: 1rem;
font-size:2rem;
}

.box-green{
  background-color: purple;
  display: inline-block;
  width:24vw;
  height:100vh;
  color:white;
  padding: 1rem;
  font-size:2rem;
}

.box-blue{
  background-color: pink;
  display: inline-block;
  width:24vw;
  height:100vh;
  color:white;
  padding: 1rem;
  font-size:2rem;
}

.box-red{
  background-color: black;
  display: inline-block;
  width:24vw;
  height: 100vh;
  color:white;
  padding: 1rem;
  font-size:2rem;
  border: solid 15px green;
  
}

.size-text{
  font-size: 3vw;
  margin-bottom: 2vh;
  background-color: blueviolet;
}

